@import url(/home/jqw/myWebpackTemplate/src/assets/css/reset.css);
@import url(/home/jqw/myWebpackTemplate/src/assets/css/grid.css);
@font-face {
  font-family: "Merriweath-Black";
  src: url("/assets/fonts/Merriweath/Black/Merriweather-Black.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Merriweath/Black/Merriweather-Black.woff") format("woff"), url("/assets/fonts/Merriweath/Black/Merriweather-Black.ttf") format("truetype"), url("/assets/fonts/Merriweath/Black/Merriweather-Black.svg") format("svg");
}

@font-face {
  font-family: "Merriweath-Bold";
  src: url("/assets/fonts/Merriweath/Bold/Merriweather-Bold.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Merriweath/Bold/Merriweather-Bold.woff") format("woff"), url("/assets/fonts/Merriweath/Bold/Merriweather-Bold.ttf") format("truetype"), url("/assets/fonts/Merriweath/Bold/Merriweather-Bold.svg") format("svg");
}

@font-face {
  font-family: "Merriweath-Regular";
  src: url("/assets/fonts/Merriweath/Regular/Merriweather-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Merriweath/Regular/Merriweather-Regular.woff") format("woff"), url("/assets/fonts/Merriweath/Regular/Merriweather-Regular.ttf") format("truetype"), url("/assets/fonts/Merriweath/Regular/Merriweather-Regular.svg") format("svg");
}

@font-face {
  font-family: "Merriweath-Light";
  src: url("/assets/fonts/Merriweath/Light/Merriweather-Light.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Merriweath/Light/Merriweather-Light.woff") format("woff"), url("/assets/fonts/Merriweath/Light/Merriweather-Light.ttf") format("truetype"), url("/assets/fonts/Merriweath/Light/Merriweather-Light.svg") format("svg");
}

.link {
  color: #0000FF;
  cursor: pointer;
}

.active {
  display: block;
}

.b {
  font-weight: bold;
}

.ul {
  list-style-type: disc;
}

.ol {
  list-style-type: decimal;
}

html {
  min-width: 320px;
}

body {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  font-family: "Merriweath-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 768px;
    padding: 36px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
    padding: 28px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 20px;
  }
}
