@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/typography";
@import "../css/reset.css";
@import "../css/grid.css";

html {
  min-width: 320px;
}

body {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

// Modules
@import "modules/header.scss";
@import "modules/footer.scss";