// Merriweath - BLACK
@font-face {
    font-family: "Merriweath-Black";
    src: url('/assets/fonts/Merriweath/Black/Merriweather-Black.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Merriweath/Black/Merriweather-Black.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Merriweath/Black/Merriweather-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/Merriweath/Black/Merriweather-Black.svg') format('svg'), /* Legacy iOS */
        //  url('/assets/fonts/Merriweath/Black/Merriweather-Black.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  }

  // Merriweath - BOLD
@font-face {
    font-family: "Merriweath-Bold";
    src: url('/assets/fonts/Merriweath/Bold/Merriweather-Bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Merriweath/Bold/Merriweather-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Merriweath/Bold/Merriweather-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/Merriweath/Bold/Merriweather-Bold.svg') format('svg'), /* Legacy iOS */
        //  url('/assets/fonts/Merriweath/Bold/Merriweather-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  }

   // Merriweath - REGULAR
   @font-face {
    font-family: "Merriweath-Regular";
    src: url('/assets/fonts/Merriweath/Regular/Merriweather-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Merriweath/Regular/Merriweather-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Merriweath/Regular/Merriweather-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/Merriweath/Regular/Merriweather-Regular.svg') format('svg'), /* Legacy iOS */
        //  url('/assets/fonts/Merriweath/Regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  }

  // Merriweath - LIGHT
  @font-face {
    font-family: "Merriweath-Light";
    src: url('/assets/fonts/Merriweath/Light/Merriweather-Light.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Merriweath/Light/Merriweather-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Merriweath/Light/Merriweather-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/Merriweath/Light/Merriweather-Light.svg') format('svg'), /* Legacy iOS */
        //  url('/assets/fonts/Merriweath/Light/Merriweather-Light.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  }