.link {
    color: #0000FF;
    cursor: pointer;

    &:visited {

    }

    &:active {

    }
}

.active {
    display: block;
}

.h1 {

}

.h2 {

}

.b {
    font-weight: bold;
}

.ul {
    list-style-type: disc;
}

.ol {
    list-style-type: decimal;
}

.btn {

}

.inp {
    
}